<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangalore</title>
    <!-- -----------------=--------------- upadated All Links---------------------- ------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- -----------------=---------------All Links---------------------- ------------->
    <link rel="stylesheet" href="../../css/maincss.css">
    <link rel="stylesheet" href="../../css/locationstyle.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="../index.html">The Beaumont</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="./homescreen.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <section class="container text-center">
            <h1 class="text-warning">Jammu & Kashmir</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem deleniti ex architecto nihil
                fugit distinctio accusamus quam repellendus sunt iusto! Facere velit non iusto reprehenderit voluptatum
                veritatis. Ea dolorum, earum blanditiis inventore ut fuga nobis temporibus quia ipsam possimus! Sunt
                earum ratione doloribus quaerat consequatur dolor voluptatibus, necessitatibus aspernatur asperiores.
            </p>
            <div class="d-flex justify-content-between my-3 bg-light">
                <div class="form-check my-auto ml-2">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Filter
                    </label>
                </div>
                <form class="form-inline" id="form-inline-design" onsubmit="return mysubmit();">
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPreze">
                        <option selected>Select Price Range</option>
                        <option value="1">Between 100k and 50k</option>
                        <option value="2">Between 20k and 50k</option>
                        <option value="3">Between 20k and 15k</a></option>
                        <option value="4">Between 15k and 10k</option>
                        <option value="5">Between 10k and 5k</option>
                        <option value="6">Between 5k and 2k</option>
                        <option value="7">Below 2k</option>
                    </select>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectrating">
                        <option selected>Ratings</option>
                        <option value="1">8+</option>
                        <option value="2">7+</option>
                        <option value="4">6+</option>
                        <option value="5">5+</option>
                        <option value="6">Below 4</option>
                    </select>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectfood">
                        <option selected>Meal Offered</option>
                        <option value="1">Breakfast</option>
                        <option value="2">Breakfast & Dinner</option>
                        <option value="7">All</option>
                    </select>
                    <button type="submit" class="btn btn-success my-1">Submit</button>
                </form>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">KR PURAM</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">White Field</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">Majestic</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">Marathalli</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">KR PURAM</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">White Field</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">Majestic</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">KR PURAM</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">Majestic</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">Kormangala</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">Rajankunte</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-2 col-lg-3 justify-content-around d-flex">
                    <div class="card shadow-card" style="width: 20rem;">
                        <img src="https://picsum.photos/100" class="card-img-top" alt="random">
                        <div class="card-body">
                            <h5 class="card-title">Mantri Square</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere,
                                quoarbc bnc asper a doloremque</p>
                            <a href="#" class="btn btn-success card-button">Want to go</a><a href="#"
                                class="card-button btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script src="../../js/script.js"></script>
</body>

</html>